html, body {
    min-height: 100%;
}

body {
    background: linear-gradient(to left bottom, rgb(179, 250, 255) 0%, rgb(179, 184, 255) 100%);
    margin: 0;
}

@media (min-width: 1200px) {
    .container {
        max-width: 800px;
    }
}

.app-header {
}